<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
</head>
<body>
<div>
  <div class='center'>
    <div class='title'>Analyse Chess Positions</div>
    <p>
      Use images of 2D chess positions from any <strong>books</strong> or <strong>screenshots </strong> from videos , chess websites ,etc !
    </p>
    <div class='content'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>
      <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
      <div class='upload-label'>
        <label id='upload-label'>No file chosen</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
      </div>

      <div class='analyze'>
	  <label>Moves Next :</label>
	  
		<input type = "radio" name="movesNext" value = "white">
		<label for="white">White</label>
		<input type = "radio" name="movesNext" value = "black">
		<label for="black">Black</label><br>
		
		<label>Chessboard Orientation :</label>
		<input type = "radio" name="board_orientation" value = "auto_detect">
		<label for="auto_detect">Auto Detect</label>
		<input type = "radio" name="board_orientation" value = "white">
		<label for="white">White</label>
		<input type = "radio" name="board_orientation" value = "black">
		<label for="black">Black</label><br><br>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
      </div>
      <div class='result-label'>
        <label id='result-label'></label>
      </div>
    </div>
  </div>
</div>
</body>
</html>
